segmentar/
sergmentadas/
tests/
Documentos/
comparações/ 
neural-networks-and-deep-learning/
Learning From Data - A short course - Abu-Mostafa, Magdon-Ismail, Lin - AMLBook.com - 2012.pdf
REMARK
localslic/img/
Segmentação interativa de imagens - Bruno Klava.pdf
/Patch extraction/imgs/
